* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    font-size: 62.5%;

    --color-primary: #323238;
    --bg-card-focus-color: #02799D;
    --bg-white: #FFFFFF;
    --bg-button-primary: #E1E1E6;
    --bg-button-focus: #02799D;

    --bg-black: #000000;
    --bg-button-black-theme: #C4C4CC;
    --tb-text-lua: #FFFFFF;
    --bg-card: rgba(41, 41, 46, 1);
}


body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-white);
    min-height: 100vh; 

    font-family: 'Roboto';
    font-weight: 500;
    font-size: 12.6rem;
    line-height: 14.8rem;
    color: var(--color-primary);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 19.2rem;
}

.btn-darkmode {
    position: absolute;
    right: 0;
    top: 0;
    margin: 6rem;
}

button {
    border: none;
    background: transparent;
}

.display-timer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.display-timer .timer {
    display: flex;
    margin-bottom: 4.8rem;
}

.display-timer .buttons {
    display: flex;
    gap: 4rem;
}

.cards-sounds-buttons {
    display: grid;
    grid-template-columns: auto auto;
    gap: 3.2rem;
    
}


.card-sound {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
    
    padding: 2.4rem;
    background-color: var(--bg-button-primary);
    border-radius: 2.4rem;
}

.card-sound input {
    
    width: 9rem;
}

.btn-sound:hover{
    cursor: pointer;
}


/* ----------------------  DARK MODE ------------------------- */

.button-dark-mode {
    fill: var(--tb-text-lua);
}

.timer-dark {
    color: var(--tb-text-lua);
}

.body-dark{
    background-color: var(--bg-black);
}

.card-dark {
    background-color: var(--bg-card);
}

.button-dark-fill {
    fill: var(--bg-button-black-theme);
}


/* ---------------------- CARD ------------------------- */


.button-clicked  {
    background-color: #02799D;
}

.button-clicked-fill {
    fill: #FFFFFF;
}

.hide {
    display: none;
}